---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Hi, I'm Japanese Web designer & Engineer day to day studying English, Typescript and cat language 🐈🥹"
  pubDate={new Date("Apr 04 2023")}
  heroImage="/placeholder-about.jpg"
>
  <div class="prose">
    <div class="flex items-center">
      <div class="font-bold rounded-l-lg bg-slate-500 text-white py-2 px-3">
        TL;DR
      </div>
      <div class="rounded-r-lg bg-slate-100 inline-block py-2 px-4">
        👶🏻 🇯🇵 🍊 🛫 🇵🇭 🛬 🦌 💇🏻‍♂️ 🐙 👨🏻‍💻 …
      </div>
    </div>
    <h2>SFと猫が好物の平均的な人です</h2>
    <p>
      四国の愛媛県で生まれて高校生まで暮らし、卒業後すぐにフィリピンのセブ島で2年ほど留学。
      <br />
      帰国後すぐに奈良や京都で美容師を6年した後、エンジニアとして大阪で働いて1年が経ちました。
    </p>
    <h3>できること</h3>
    <h3>好きな映画</h3>
    <h3>吾輩の猫である</h3>
  </div>
</Layout>
